<%- include('partials/header'); -%>

<br>
<p style="font-size: 20px;"><%= aboutContent %></p>
<br>

<p style="font-size: 20px;">Welcome to my blog website.I am a 3rd year Btech-CSE student. <br>

     <br> This project has been created by me using nodejs, expressjs and HTML and CSS 
    
</p>


<%- include('partials/footer'); -%>